<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="~{fragment :: meta}"></div>

  <div th:replace="~{fragment :: styles}"></div>

  <title>店舗登録</title>
</head>

<body>
  <div class="nagoyameshi-wrapper">
    <!-- ヘッダー -->
    <div th:replace="~{fragment :: header}"></div>

    <main>
      <div class="container pt-4 pb-5 nagoyameshi-container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8">
            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a th:href="@{/admin/restaurants}">店舗一覧</a></li>
                <li class="breadcrumb-item active" aria-current="page">店舗登録</li>
              </ol>
            </nav>

            <h1 class="mb-4 text-center">店舗登録</h1>

            <form method="post" th:action="@{/admin/restaurants/create}" th:object="${restaurantRegisterForm}"
              enctype="multipart/form-data">
              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="category" class="col-form-label text-md-left fw-bold">カテゴリ</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('category')}" class="text-danger small mb-2" th:errors="*{category}">
                  </div>
                  <select class="form-select" th:field="*{category}" autofocus>
                    <option value="00"></option>
                    <option th:each="categories : ${categorieslist}" th:value="${categories.id}"
                      th:text="${categories.name}" th:selected="${categories.id == selectedValue}">
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="name" class="col-form-label text-md-left fw-bold">店舗名</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('name')}" class="text-danger small mb-2" th:errors="*{name}"></div>
                  <input type="text" class="form-control" th:field="*{name}" autofocus>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="imageFile" class="col-form-label text-md-left fw-bold">店舗画像</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('imageFile')}" class="text-danger small mb-2"
                    th:errors="*{imageFile}"></div>
                  <input type="file" class="form-control" th:field="*{imageFile}">
                </div>
              </div>

              <!-- 選択された画像の表示場所 -->
              <div class="row" id="imagePreview"></div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="description" class="col-form-label text-md-left fw-bold">説明</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('description')}" class="text-danger small mb-2"
                    th:errors="*{description}"></div>
                  <textarea class="form-control" th:field="*{description}" cols="30" rows="5"></textarea>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="minPrice" class="col-form-label text-md-left fw-bold">最低価格</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('minPrice')}" class="text-danger small mb-2" th:errors="*{minPrice}">
                  </div>
                  <select class="form-select" th:field="*{minPrice}" autofocus>
                    <option value=""></option>
                    <option value="1000">1,000円</option>
                    <option value="1500">1,500円</option>
                    <option value="2000">2,000円</option>
                    <option value="2500">2,500円</option>
                    <option value="3000">3,000円</option>
                    <option value="3500">3,500円</option>
                    <option value="4000">4,000円</option>
                    <option value="4500">4,500円</option>
                    <option value="5000">5,000円</option>
                    <option value="5500">5,500円</option>
                    <option value="6000">6,000円</option>
                    <option value="6500">6,500円</option>
                    <option value="7000">7,000円</option>
                    <option value="7500">7,500円</option>
                    <option value="8000">8,000円</option>
                    <option value="8500">8,500円</option>
                    <option value="9000">9,000円</option>
                    <option value="9500">9,500円</option>
                    <option value="10000">10,000円</option>
                  </select>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="maxPrice" class="col-form-label text-md-left fw-bold">最高価格</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('maxPrice')}" class="text-danger small mb-2" th:errors="*{maxPrice}">
                  </div>
                  <select class="form-select" th:field="*{maxPrice}" autofocus>
                    <option value=""></option>
                    <option value="1000">1,000円</option>
                    <option value="1500">1,500円</option>
                    <option value="2000">2,000円</option>
                    <option value="2500">2,500円</option>
                    <option value="3000">3,000円</option>
                    <option value="3500">3,500円</option>
                    <option value="4000">4,000円</option>
                    <option value="4500">4,500円</option>
                    <option value="5000">5,000円</option>
                    <option value="5500">5,500円</option>
                    <option value="6000">6,000円</option>
                    <option value="6500">6,500円</option>
                    <option value="7000">7,000円</option>
                    <option value="7500">7,500円</option>
                    <option value="8000">8,000円</option>
                    <option value="8500">8,500円</option>
                    <option value="9000">9,000円</option>
                    <option value="9500">9,500円</option>
                    <option value="10000">10,000円</option>
                  </select>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="openTime" class="col-form-label text-md-left fw-bold">開店時間</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('openTime')}" class="text-danger small mb-2" th:errors="*{openTime}">
                  </div>
                  <select class="form-select" th:field="*{openTime}" autofocus>
                    <option value=""></option>
                    <option value="00:00">00:00</option>
                    <option value="00:30">00:30</option>
                    <option value="01:00">01:00</option>
                    <option value="01:30">01:30</option>
                    <option value="02:00">02:00</option>
                    <option value="02:30">02:30</option>
                    <option value="03:00">03:00</option>
                    <option value="03:30">03:30</option>
                    <option value="04:00">04:00</option>
                    <option value="04:30">04:30</option>
                    <option value="05:00">05:00</option>
                    <option value="05:30">05:30</option>
                    <option value="06:00">06:00</option>
                    <option value="06:30">06:30</option>
                    <option value="07:00">07:00</option>
                    <option value="07:30">07:30</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                    <option value="19:30">19:30</option>
                    <option value="20:00">20:00</option>
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="21:30">21:30</option>
                    <option value="22:00">22:00</option>
                    <option value="22:30">22:30</option>
                    <option value="23:00">23:00</option>
                    <option value="23:30">23:30</option>
                  </select>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="closeTime" class="col-form-label text-md-left fw-bold">閉店時間</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('closeTime')}" class="text-danger small mb-2"
                    th:errors="*{closeTime}"></div>
                  <select class="form-select" th:field="*{closeTime}" autofocus>
                    <option value=""></option>
                    <option value="00:00">00:00</option>
                    <option value="00:30">00:30</option>
                    <option value="01:00">01:00</option>
                    <option value="01:30">01:30</option>
                    <option value="02:00">02:00</option>
                    <option value="02:30">02:30</option>
                    <option value="03:00">03:00</option>
                    <option value="03:30">03:30</option>
                    <option value="04:00">04:00</option>
                    <option value="04:30">04:30</option>
                    <option value="05:00">05:00</option>
                    <option value="05:30">05:30</option>
                    <option value="06:00">06:00</option>
                    <option value="06:30">06:30</option>
                    <option value="07:00">07:00</option>
                    <option value="07:30">07:30</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                    <option value="19:30">19:30</option>
                    <option value="20:00">20:00</option>
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="21:30">21:30</option>
                    <option value="22:00">22:00</option>
                    <option value="22:30">22:30</option>
                    <option value="23:00">23:00</option>
                    <option value="23:30">23:30</option>
                  </select>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="postalCode" class="col-form-label text-md-left fw-bold">郵便番号</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('postalCode')}" class="text-danger small mb-2"
                    th:errors="*{postalCode}"></div>
                  <input type="text" class="form-control" th:field="*{postalCode}" autofocus>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="address" class="col-form-label text-md-left fw-bold">住所</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('address')}" class="text-danger small mb-2" th:errors="*{address}">
                  </div>
                  <input type="text" class="form-control" th:field="*{address}" autofocus>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="phoneNumber" class="col-form-label text-md-left fw-bold">電話番号</label>
                </div>
                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger small mb-2"
                    th:errors="*{phoneNumber}"></div>
                  <input type="text" class="form-control" th:field="*{phoneNumber}" autofocus>
                </div>
              </div>

              <div class="form-group row mb-3">
                <div class="col-md-4">
                  <label for="closedDay" class="col-form-label text-md-left fw-bold">定休日</label>
                </div>

                <div class="col-md-8">
                  <div th:if="${#fields.hasErrors('closedDay')}" class="text-danger small mb-2" th:errors="*{closedDay}"></div>  
                  <div>
                    <input type="checkbox" th:field="*{closedDay}" id="checkbox1" value="月曜日" onchange="change()">
                    <label for="checkbox1">月曜日</label>
                  </div>

                  <div>
                    <input type="checkbox" th:field="*{closedDay}" id="checkbox2" value="火曜日" onchange="change()">
                    <label for="checkbox2">火曜日</label>
                  </div>

                  <div>
                    <input type="checkbox" th:field="*{closedDay}" id="checkbox3" value="水曜日" onchange="change()">
                    <label for="checkbox3">水曜日</label>
                  </div>

                  <div>
                    <input type="checkbox" th:field="*{closedDay}" id="checkbox4" value="木曜日" onchange="change()">
                    <label for="checkbox4">木曜日</label>
                  </div>

                  <div>
                    <input type="checkbox" th:field="*{closedDay}" id="checkbox5" value="金曜日" onchange="change()">
                    <label for="checkbox5">金曜日</label>
                  </div>

                  <div>
                    <input type="checkbox" th:field="*{closedDay}" id="checkbox6" value="土曜日" onchange="change()">
                    <label for="checkbox6">土曜日</label>
                  </div>

                  <div>
                    <input type="checkbox" th:field="*{closedDay}" id="checkbox7" value="日曜日" onchange="change()">
                    <label for="checkbox7">日曜日</label>
                  </div>

                  <div>
                    <input type="checkbox" th:field="*{closedDay}" id="irregularClosedDay" value="不定休" onchange="change()">
                    <label for="irregularClosedDay">不定休</label>
                  </div>
                </div>
              </div>

              <div class="form-group d-flex justify-content-center my-4">
                <button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">登録</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <!-- フッター -->
    <div th:replace="~{fragment :: footer}"></div>
  </div>

  <div th:replace="~{fragment :: scripts}"></div>
  <script th:src="@{/js/preview.js}"></script>
</body>

</html>