<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="~{fragment :: meta}"></div>

  <div th:replace="~{fragment :: styles}"></div>

  <title>レビュー一覧</title>
</head>

<body>
  <div class="nagoyameshi-wrapper">
    <!-- ヘッダー -->
    <div th:replace="~{fragment :: header}"></div>

    <main>
      <div class="container pt-4 pb-5 nagoyameshi-container">
        <div class="row justify-content-center">
          <div class="col-xxl-9 col-xl-10 col-lg-11">
            <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                <li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                <li class="breadcrumb-item"><a th:href="@{/restaurants/__${restaurant.getId()}__}">店舗詳細</a></li>
                <li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
              </ol>
            </nav>

            <h1 class="mb-4 text-center" th:text="${restaurant.getName() + 'のレビュー一覧'}"></h1>

            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div th:each="reviewPage : ${reviewPage}" class="col-6">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-titile" th:text="${reviewPage.getUser().getName()}"></h5>
                    <p class="card-text text-warning">
                      <span th:if="${reviewPage.getReview() == 1}">&#9733;&#9734;&#9734;&#9734;&#9734;</span>
                      <span th:if="${reviewPage.getReview() == 2}">&#9733;&#9733;&#9734;&#9734;&#9734;</span>
                      <span th:if="${reviewPage.getReview() == 3}">&#9733;&#9733;&#9733;&#9734;&#9734;</span>
                      <span th:if="${reviewPage.getReview() == 4}">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                      <span th:if="${reviewPage.getReview() == 5}">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                    </p>
                    <p class="card-text">
                      <span th:text="${#dates.format(reviewPage.getCreatedAt(), 'yyyy年MM月dd日')}"></span>
                    </p>
                    <p class="card-text"></p>
                    <span th:text="${reviewPage.getComment()}"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- ページネーション -->
      <div th:if="${reviewPage.getTotalPages() > 1}" class="d-flex justify-content-center">
        <nav aria-label="レビュー一覧ページ">
          <ul class="pagination">
            <li class="page-item">
              <span th:if="${reviewPage.isFirst()}" class="page-link disabled">前</span>
              <a th:unless="${reviewPage.isFirst()}"
                th:href="@{/reviews/__${restaurant.getId()}__(page = ${reviewPage.getNumber() - 1})}"
                class="page-link nagoyameshi-page-link">前</a>
            </li>
            <li th:each="i : ${#numbers.sequence(0, reviewPage.getTotalPages() - 1)}" class="page-item">
              <span th:if="${i == reviewPage.getNumber()}" class="page-link active nagoyameshi-active"
                th:text="${i + 1}"></span>
              <a th:unless="${i == reviewPage.getNumber()}" th:href="@{/reviews/__${restaurant.getId()}__(page = ${i})}"
                class="page-link nagoyameshi-page-link" th:text="${i + 1}"></a>
            </li>
            <li class="page-item">
              <span th:if="${reviewPage.isLast()}" class="page-link disabled">次</span>
              <a th:unless="${reviewPage.isLast()}"
                th:href="@{/reviews/__${restaurant.getId()}__(page = ${reviewPage.getNumber() + 1})}"
                class="page-link nagoyameshi-page-link">後</a>
            </li>
          </ul>
        </nav>
      </div>
    </main>

    <!-- フッター -->
    <div th:replace="~{fragment :: footer}"></div>
  </div>

  <div th:replace="~{fragment :: scripts}"></div>
</body>

</html>