<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="~{fragment :: meta}"></div>

  <div th:replace="~{fragment :: styles}"></div>

  <title>会員登録</title>
</head>

<body>
  <div class="nagoyameshi-wrapper">
    <!-- ヘッダー -->
    <div th:replace="~{fragment :: header}"></div>

    <main>
      <div class="container pt-4 pb-5 nagoyameshi-container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8">
            <!-- successMessage表示 -->
            <div th:if="${successMessage}" class="alert alert-info">
              <span th:text="${successMessage}"></span>
            </div>
            <h1 class="mb-4 text-center">パスワード再設定</h1>
            <hr class="mb-4">
            <p>ご登録中のメールアドレスを入力してください。パスワード再設定用のURLをお送りいたします。</p>
            <form method="post" th:action="@{/password/reset}" th:object="${passwordResetSendForm}">
              <div class="form-group mb-3">
                <div th:if="${#fields.hasErrors('email')}" class="text-danger small mb-2" th:errors="*{email}"></div>
                <input type="text" class="form-control" th:field="*{email}" autocomplete="email"
                  placeholder="taro.samurai@example.com">
              </div>

              <div class="form-group d-flex justify-content-center my-4">
                <button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">送信</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <!-- フッター -->
    <div th:replace="~{fragment :: footer}"></div>
  </div>
  <div th:replace="~{fragment :: scripts}"></div>
</body>

</html>